#chart {
  width: 25%;
  height: 25%;
}

.chart-container {
  background-color: white;
  border-radius: 5%;
  padding: 1em;
  margin-top: 2em;
}

.chart {
  background-color: inherit;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.mb-3 {
  margin-bottom: 2em;
}

.me-3 {
  margin-right: 2em;
}
