@if(animalId()){
<form>
  <div class="mt-3">
    <label class="form-label"
      for="numero">
      Numero
    </label>
    <input type="text" class="form-control" id="numero" name="numero" />
  </div>
  <div class="mt-3 d-flex justify-content-center">
    <button class="btn btn-primary" type="submit">
      Registrar parto
    </button>
    <button class="ms-2 btn btn-warning">
      Limpiar Formulario
    </button>
  </div>
</form>
}
@else{
  <h2 class="text-danger text-center mt-3">
    Seleccione un animal
  </h2>
}
