.nav-bar-button {
  background-color: inherit;
  padding: 20px;
}

.nav-bar-button:hover {
  opacity: 70%;
}

.nav-bar-button>i {
  font-size: 2em;
}

.search-input {
  margin-top: 1em;
  background-color: inherit;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}
