<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 p-0">
      <button class="btn nav-bar-button" (click)="hideSideBar()">
        <i class="fa-solid fa-bars"></i>
      </button>
      <button class="btn nav-bar-button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
      <input [ngModel]="search()" (ngModelChange)="search.set($event)" class="search-input" />
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 p-0">
      <button class="btn nav-bar-button">
        <i class="fa-solid fa-bell"></i>
      </button>
      <button class="btn nav-bar-button">
        <i class="fa-solid fa-user"></i>
      </button>
    </div>
  </div>
</div>
