#main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

app-navbar-component {
  display: block;
  background-color: #d9d9d9;
  width: 100%;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #d9d9d9;
  overflow-y: auto;
}
