<div id="main-container">
  <div class="sidebar-overlay"
       [class.active]="!hideSideBar()"
       (click)="handleSideBar(true)">
  </div>

  <aside class="sidebar" [class.active]="!hideSideBar()" (mouseover)="hideSideBar.set(false)" (mouseout)="hideSideBar.set(true)">
    <app-sidebar-component [authority]="authority()"/>
  </aside>

  <div class="main-area">
    <app-navbar-component (isHidingSideBar)="handleSideBar($event)"/>
    <main class="content">
      <router-outlet />
    </main>
  </div>
</div>
