<form>
  <label class="form-label" for="nombreEstablo">Nombre del establo</label>
  <input class="form-control" type="text" placeholder="Ingrese el nombre del establo"/>
  <label class="form-label" for="capacidad">Capacidad Maxima</label>
  <input class="form-control" type="number" placeholder="Ingrese la capacidad maxima del establo"/>
  <label class="form-label" for="nombreUsuario">Nombre de Usuario del administrador</label>
  <input class="form-control" type="text" placeholder="Ingrese el nombre de usuario del administrador"/>
  <label class="form-label" for="contraseña">Contraseña</label>
  <input class="form-control" type="password" placeholder="Ingrese la contraseña del administrador"/>
  <label class="form-label" for="repetirContraseña"> Repita su contraseña</label>
  <input class="form-control" type="text" placeholder="Ingrese nuevamente su contraseña">
  <button type="submit" class="submit-btn btn btn-success">Siguiente</button>
</form>
